
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*  Hero  */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-container {
    width: 180px;
    height: 180px;

    background-image: url("/assets/IMG_20241207_005115_447.webp");
    background-size: cover;
    background-position: center;

    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    margin-bottom: 20px;
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(247, 245, 245, 0.4);
    }
    to {
        box-shadow: 0 0 25px rgb(86, 5, 5);
    }
}


.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #2a5298;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn:hover {
    background: #2a5298;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}


/* Sections */
.section {
   padding: 80px 40px;
    text-align: center;
}


.section h2 {
    margin-bottom: 25px;
    font-size: 32px;
    text-align: center;
}
.contact h2 {
    text-align: center;
}



.contact-info {
   display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    
}
.contact-info a {
     width: 60px;
    height: 60px;

    
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    transition: all 0.3s ease;
}
.contact-info img {
     width: 70px;
    height: 70px;
    object-fit: contain;
    padding: 15px;
}
.contact-info a:hover {
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    background: #f0f0f0;
}


.light {
    background-color: #f7f9fc
}


/*  Skills  */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}


.skill-card {
    background: white;
    padding: 25px 40px;
    border-radius: 12px;

    font-weight: bold;
    font-size: 18px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    cursor: pointer;

    animation: fadeup 0.5s ease ;
    transition: all 0.3s ease;
    
}
.skill-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    background: #2b5da7;
    color: white;
}
@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/*  Projects  */
.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}
.projects .card {
    transition: all 0.2s ease;
   
}
.projects .card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 18px rgba(44, 43, 43, 0.3);
}




/*  Education */
.edu {
    list-style: none;
}

.edu li {
    margin: 8px 0;
}


/* Footer  */
footer {
    background:  #2a5298;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
